<!-- Modal -->
<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" >欢迎订阅</h4>
      </div>
      <div class="modal-body">
        订阅资费说明和内容说明
      </div>
      <div class="modal-footer">
          <a class="btn btn-success" href="/celcom/{{ subURL }}" role="button" target="_blank">确定订阅</a>
      </div>
    </div>
  </div>
</div>