{% extends "layout.html" %}

{% block content %}
<ul class="topiclist wrap">
    <li>    
        <a href="/categorys/5.html">
            <img src="http://img03.muzhiwan.com/2017/09/29/59cda6d895702.jpg">
            <h2> Android games that support the game handle</h2>
            <p class="clearfix info"><span>Number of games：140</span><span class="right">2013-07-09</span></p>	   
        </a>
    </li>
    <li>    
        <a href="/categorys/2.html">
            <img src="http://img02.muzhiwan.com/2017/12/08/5a29f1397b69d.jpg">
            <h2>EA big game theme</h2>
            <p class="clearfix info"><span>Number of games：18</span><span class="right">2013-04-24</span></p>	   
        </a>
    </li>
    <li>    
        <a href="/categorys/5.html">
            <img src="http://img03.muzhiwan.com/2017/12/08/5a29f0e48cfa6.jpg">
            <h2>Android Tower defense game recommendation</h2>
            <p class="clearfix info"><span>Number of games：21</span><span class="right">2013-04-18</span></p>	   
        </a>
    </li>
    <li>    
        <a href="/categorys/1.html">
            <img src="http://img02.muzhiwan.com/2015/10/13/com.gameloft.android.ANMP.GloftM5HM_117788/561cb47608561.jpg">
            <h2>Glu Big game</h2>
            <p class="clearfix info"><span>Number of games：21</span><span class="right">2013-04-10</span></p>	   
        </a>
    </li>
    <li>    
        <a href="/categorys/5.html">
            <img src="http://img03.muzhiwan.com/2016/12/28/com.Dreamotion.GunStrider_132832/5863726ec52c9.jpg">
            <h2>Android Recommending leisure and puzzle games</h2>
            <p class="clearfix info"><span>Number of games：27</span><span class="right">2013-04-09</span></p>	   
        </a>
    </li>
</ul>

{% endblock %}