{% extends "layout.html" %}
{% block content %}
<div class="span9">
    <div class="row-fluid">
        <div class="page-header">
            <h1>{% if need.name|length > 0 %} 编辑 {% else %} 添加 {% endif %} <small> 分类管理</small></h1>
        </div>
        <form class="form-horizontal" method="post" action="/file/docate.html">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="name">分类名称</label>
                    <div class="controls">
                        <input type="hidden" class="input-xlarge" name="id" id="id" value="{{ need.id }}" />
                        <input type="text" class="input-xlarge" id="name" name="name" value="{{ need.name }}" />
                    </div>
                </div>
               
                <div class="control-group">
                    <label class="control-label" for="active">是否启用</label>
                    <div class="controls">
                        <input type="checkbox" name="active" id="active" value="1" checked />
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-success btn-large" value="保存" /> <a class="btn" href="/file/cate.html">返回</a>
                </div>					
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}
