{% extends "layout.html" %}
{% block content %}
<div class="span9">
    <div class="row-fluid">
        <div class="page-header">
            <h1>{% if user.name|length > 0 %} 编辑 {% else %} 添加 {% endif %} <small> 用户管理</small></h1>
        </div>
        <form class="form-horizontal" method="post" action="/file/addsysuser.html">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="name">名称</label>
                    <div class="controls">
                        <input type="hidden" class="input-xlarge" name="id" id="id" value="{{ user.id }}" />
                        <input type="text" class="input-xlarge" id="name" name="name" value="{{ user.name }}" />
                    </div>
                </div>
                <div class="control-group">
                   <label class="control-label" for="name">密码</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="pass" name="pass" value="" />
                    </div>
                </div>
               <div class="control-group">
                    <label class="control-label" for="name"  >权限 </label>
                    <div class="controls"  >
                       <table id="auth_id" data-auth="{{user.auth_id}}" class="table table-bordered">
                        <thead>
                          <tr><th>ID</th><th>名称</th></tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                      </table>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-success btn-large" value="保存" /> <a class="btn" href="/file/sysuser.html">返回</a>
                </div>					
            </fieldset>
        </form>
    </div>
</div>
<link href="/assets/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function(){
      
        $('#auth').html(function(){
            return $(this).attr('data-auth');   // 所有权限
        });
        
        var auth_id = $('#auth_id').attr('data-auth'); // 选中权限
        var aAuth_id = auth_id.split(',');  
        $('#auth_id').find("input[type='checkbox']").each(function(){
            var box_val = $(this).val();
            if($.inArray(box_val,aAuth_id) != -1){
                $(this).attr('checked','checked');
            }
        });
        
        // 表格数据
        var table = $('#auth_id').DataTable({
            "processing": true,
            "searching": false,
            "bLengthChange": true,
            "info":     false,
            "ajax": {
              "url": "/file/getauthority.html",
              "type": "POST"
            },
            "columns": [  
                {data: 'id', name: 'id'},
                {data: 'name', name: 'name', orderable: false, searchable: false,
                    render:function ( data, type, row, meta ) {
                        return '<div class="checkbox"><label><input type="checkbox"  name="auth_id[]" value="'+row.id+'">'+data+'</label></div>';
                    }
                }
            ]
        });
    });
</script>



{% endblock %}
