{% extends "layout.html" %}
{% block content %}
<div class="span9">
    <div class="well hero-unit">
        <h1>Welcome, Admin</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        <p><a class="btn btn-success btn-large" href="users.html">Manage Users &raquo;</a></p>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h3>Total Users</h3>
            <p><a href="users.html" class="badge badge-inverse">563</a></p>
        </div>
        <div class="span3">
            <h3>New Users Today</h3>
            <p><a href="users.html" class="badge badge-inverse">8</a></p>
        </div>
        <div class="span3">
            <h3>Pending</h3>
            <p><a href="users.html" class="badge badge-inverse">2</a></p>
        </div>
        <div class="span3">
            <h3>Roles</h3>
            <p><a href="roles.html" class="badge badge-inverse">3</a></p>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="page-header">
            <h1>Pending Users <small>Approve or Reject</small></h1>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>版本</th>
                    <th>下载次数</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
